@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;700;900&family=Roboto:wght@100;300;400;700;900&display=swap');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3{
    margin: 0;
}
/* Container */
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
/* Intro */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 670px;
    background: url(img/intro.jpg) no-repeat center;
    background-size: cover;
}
.intro_title{
    font-size: 32px;
    font-weight: 900;
    color: #fff;
    font-family: 'Playfair Display', serif;
}
.intro_title:after{
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    margin: 25px auto;
    background-color: #00e0d0;

}
.intro_text{
    font-weight: 300;
    color: #fff;
    margin-bottom: 65px;
    letter-spacing: 0.05em;
    
}
.intro_inner{
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
}
/* Header */
.header{
    position: absolute;
    padding-top: 15px;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
     
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo h1{
    font-weight: 100;
    font-size: 30px;
    color: #3b80a3;

}
.header_logo{
    display: flex;
    align-items: center;
}
/* Navbar */
.navbar{
    text-transform: uppercase;
    font-weight: 900;
   
}
.nav_link{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.2s linear;
}
.nav_link::after{
    content: "";
    margin-top: 2px;
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: #00e0d0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.2s linear;
}
.nav_link:hover{
    color: #00e0d0;

}
.nav_link:hover::after{
    opacity: 1;

}
/* Button */
.btn_learn{
    text-transform: uppercase;
    text-decoration: none;
    color: #00e0d0;
    border: 1px solid #00e0d0;
    padding: 8px 15px; 
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;
    transition: background-color .1s linear, color .1s linear;
}
.btn_learn:hover{
    background-color: #00e0d0;
    color: #fff;
}
#submit{
    padding: 9px 32px;
}
#load_more{
    padding: 9px 26px;
}

/* About */
.about_company{
    display:flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 880px;
    height: 400px;
}
.about_inner{
    display: flex;
    margin: 70px auto 0;
}
.about_emblem{
    margin-right: 100px;
}
.about_title{
    text-transform: uppercase;
    color: #333;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}
.about_story{
    width: 100%;
    max-width: 540px;
    font-weight: 300;
    line-height: 1.5;

}
.about_text{
    text-align: justify;
    margin-bottom: 25px;
    letter-spacing: 0.03em;
}
#margin_4_btn{
    margin-bottom: 30px;
}
/* Video Story */
.video_story{
    height: 550px;
    background: url(img/video_background.jpg) no-repeat, center;
    background-size: cover;
    z-index: 0;
}
.video_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(184%);

}
.play_icon:hover{
    background-color: red;
    
}
.story_text{
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #fff;
    text-transform: uppercase;
}
/* Expertise */
.expertise{
    height: 750px;
}
.expertise_header{
    margin-top: 70px;
    text-align: center;
    line-height: 1;
}
.expertise_header:after{
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #c6c4c9;
    margin: 16px auto 80px;
}
.section_title{
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.expertise_text{
    font-family:'Playfair Display', serif;
    letter-spacing: 0.075em;
    color: #acacae;
}
.expertise_content{
    display: flex;
}
.content{
    max-width: 33%;
    width: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    padding: 30px;

}
.content_title{
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 30px;
    line-height: 1;
    font-size: 14px;
}
.content_text{
    font-weight: 300;
    color: #7a7a7a;
}
#border_4_content_1{
    border-bottom: solid 1px #ebebeb;
    border-right: solid 1px #ebebeb;
}
#border_4_content_2{
    border-bottom: solid 1px #ebebeb;
    border-right: solid 1px #ebebeb;
}
#border_4_content_3{
    border-bottom: solid 1px #ebebeb;
}
#border_4_content_4{
    border-right: solid 1px #ebebeb;
}
#border_4_content_5{
    border-right: solid 1px #ebebeb;
}
/* Team */
.team{
    background: url(img/team_background.jpg) no-repeat, center;
    background-size: cover;
    height: 710px;
}
.team_header{
    text-align: center;
    padding-top: 70px;
    line-height: 1;
    color: #fff;
}
.team_header::after{
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #c6c4c9;
    margin: 16px auto 40px;
}
.team_text{
    font-family:'Playfair Display', serif;
    letter-spacing: 0.075em;
}
.team_content{
    max-width: 25%;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
}
.member_of_team{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/team_unit.jpg);
    background-size: cover;
    height: 230px;
}
.member_of_team p{
    opacity: 0;
}
.img4unit{
    height: 230px;
    margin: 0;
}
.member_name{
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.5;
}
.member_post{
    color: #c6c4c9;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.5;
    font-size: 13px;
}
.about_member{
    padding: 20px 0;
    border: #ebebeb solid 1px;
    text-align: center;
}
.team_container{
    display: flex;
}
.team_content:hover .member_of_team{
    background: #fff;
    background-position: top center;
    -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
.team_content:hover .member_of_team > p{
    opacity: 1;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
.team_content:hover{
    transform: scale(1.05);
    -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
.hiring{
    text-align: center;
    margin-top: 65px;
}
.text_hiring{
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom:25px;
}
/* Works */
.works{
    height: 740px;
}
.work_header{
    display: flex;
    justify-content: space-between;
}
.work_header{
    height: 150px;
    align-items: center;
}
.works_link{
    text-decoration: none;
    font-weight: 300;
    color: #333;
}
.arrow{
    border: solid #333;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.works_link:hover{
    color: #00e0d0;
    transition: color 0.2s linear
}
.portfolio{
    display: flex;
}
.project{
    width:17%;
    height: 200px;
    background: url(img/project.jpg) center;
    background-size: cover;
}
.project2{
    width:17%;
    height: 200px;
    background: url(img/project2.jpg) center;
    background-size: cover;
}
.project:hover{
    transform: scale(1.05);
    transition: all 250ms ease;
}
.project2:hover{
    transform: scale(1.05);
    transition: all 250ms ease;
}
.more{
    text-align: center;
    margin-top: 60px;
}
#load_more{
    width: 140px;
}
/*Slider*/
.slider_section{
    height: 500px;
    background: url(img/slider_background.jpg) center, no-repeat;
    background-size:cover;
}
.quotes{
    text-align: center;
    height: 100px;
}
.quotes:before{
    content: "\201c";
    font-size: 100px;
    font-family:'Playfair Display', serif;
    color: #fff;
}
.quotes_output{
    width: 780px;
    height: 170px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}
.quote_item{
    min-width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    letter-spacing: 0.035em;
    font-size: 16px;
}
.name_wrapper{
    margin: 0 auto;
    display: flex;
    width: 140px;
    overflow: hidden;
}
.name_post{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    min-width: 140px;
}
.name_post p{
    font-weight: 300;
    margin: 0;
}
.wrapper{
    width: 400px;
    margin: 0 auto;
}
.parent{
    position: relative;
}
.slider_container{
    overflow: hidden;
    
}
.slider_track{
    display: flex;
    height: 100px;
    padding-top: 30px;
}
.slider_buttons{
    display: flex;
    justify-content: space-between;
    left: 28%;
    width: 425px;
    position: absolute;
    top: 15px;
}
.slider_item{
    height: 50px;
    min-width: 50px;
    margin-left: 15px;
    margin-right: 15px;
    background: url(img/team_unit.jpg) no-repeat, center;
    background-size: cover;
    border-radius: 25px;
    cursor: pointer;
}


/* Clients */
.our_clients{
    height: 660px;
} 
#container_clients{
    display: flex;
    margin-top: 70px;
}
.letter{
    height: 530px;
    width: 460px;
    margin-right: 50px;
}
.clients{
    height: 500px;
    width: 380px;
    margin-left: 50px;
}
.sup_message{
    height: 50px;
    width: 460px;
    margin-top: 25px;
}
::placeholder{
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.05em;
    padding-left: 15px;
    border: 1px solid, #acacae;
}
.message{
    width: 460px;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.message::placeholder{
    padding-top:5px;
}
.clients_wrapper{
    display: flex;
}
.clients_wrapper img{
    margin: 25px 0 20px ;
}
.clients h2{
    margin-bottom: 15px;
}
/* Footer */
.footer{
    height: 400px;
    background: url(img/footer.jpg) center, no-repeat;
    background-size: cover;
}
.footer .container{
    display: flex;
}
.left_wrapper{
    width: 310px;
    height: 260px;
}
.left_wrapper .header_logo{
    padding-top: 70px;
}
.footer_text{
    font-size: 14;
    font-weight: 300;
    color: #fff;
    line-height: 2;
    letter-spacing: 0.05em;
    margin-top: 20px;
}
.footer_links{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.footer_link{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: color .2s linear;
}
.footer_link:hover{
    color: #00e0d0;
}
.footer_header{
    text-transform: uppercase;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 30px;
}
.center_wrapper{
    width: 275px;
    height: 180px;
    margin-left: 10px;
}
.img_wrapper{
    display: flex;
    flex-direction: column;
    width: 14px;
    margin: 3px 15px 0px 0px;
}
.img_wrapper img{
    margin-bottom: 75px;
}
.inner_wrapper{
    display:flex;
    margin-top: 25px;
}
.info_wrapper{
    display: flex;
    flex-direction: column;
}
.location{
    text-decoration: none;
    color: #fff;
    line-height: 2;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    transition: color .2s linear;
}
.location:hover{
    color: #00e0d0;
}
.call{
    text-decoration: none;
    color: #fff;
    transition: color .2s linear;
}
.call:hover{
    color: #00e0d0;
}
.right_wrapper{
    margin-left: 60px;
}
.input_wrapper{
    display: flex;
}
.footer_letter{
    width: 210px;
    height: 45px;
    font-weight: 300;
    background: none;
    border: 1px solid #acacae;
    margin-bottom: 25px;
}
.footer_letter::placeholder{
    color: #acacae;
    letter-spacing: 0.02em;
}
.social_wrapper img{
    margin-right: 5px;
}
.paper_airplane{
    height: 45px;
    width: 70px;
    margin-left: 5px;
    background: url(img/social_media/Btn.png) no-repeat, center;
    background-size: cover;
    cursor: pointer;
}


@media(max-width:990px){
    .container{
        padding: 0 20px;
    }
    .expertise{
        height: 650px;
    }
    .expertise_header {
        margin-top: 30px;
    }
    .expertise_header:after {
       
        margin: 16px auto 40px;
    }
    .team{
        height: 630px;
    }
    .team_header{
        padding-top: 40px;
    }
    .team_content{
        max-width: 20%;
        margin: 0 auto;
    }
    .member_of_team{
        height: 190px;
    }
    .works{
        height: 550px;
    }
    .work_header{
        height: 100px;
        padding: 0 30px;
    }
    .project{
        height: 150px;
    }
    .project2{
        height: 150px;
    }
}   


@media(max-width:770px){
    .intro{
        height: 470px;
    }
    .about_emblem{
        margin-right: 50px;
    }
    .about_text{
        margin-bottom: 10px;
    }
    .video_story{
        height: 350px;
    }
    .video_inner{
        transform: translateY(69%);
    }
    .expertise{
        height: 525px;
    }
    .expertise_content{
        font-size: 12px;
    }
    .content_title{
        margin-top:10px;
    }
    .team{
        height: 510px;
    }
    .content{
        padding: 10px;
    }
    .member_of_team{
        height: 140px;
    }
    .about_member{
        padding: 10px 0;
    }
    .about_member h3{
        font-size: 14px;
    }
    .about_member p{
        font-size: 10px;
    }
    .hiring{
        margin-top: 35px;
    }
    .slider_section{
        height: 420px;
    }
    .quotes{
        height: 100px;
    }
    .quotes_output{
        width: 680px;
    }
    .slider_buttons{
        left: 21%;
    }
    .our_clients{
        height: 570px;
    }
    #container_clients{
        margin-top: 30px;
    }
    .clients{
        margin-left: 0px;
    }
    .left_side{
        margin-right: 10px;
    }
    .sup_message{
        width: 380px;
    }
    .message{
        width: 380px;
    }
    .letter{
        margin-right: 10px;
    }
    .footer{
        height: 300px;
    }
    .left_wrapper .header_logo{
        padding-top: 30px;
    }
    .footer_text{
        font-size: 12px;
    }
    .footer_header{
        margin-top: 40px;
    }
    .location{
        font-size: 12px;
    }
    .img_wrapper img{
        margin-bottom: 85px;
    }
    .footer_links{
        margin-top: 40px;
    }
    .footer_link{
        font-size: 11px;
    }
}


@media(max-width:575px){
    .navbar{
        display: none;
    }
    .about_inner{
        margin-top: 25px;
    }
    .about_emblem img{
        margin-top: 80px;
        height: 150px;
    }
    .expertise_header {
        margin-top: 20px;
    }
    .expertise_header:after {
        margin: 16px auto 20px;
    }
    .section_title{
        font-size: 20px;
    }
    .team{
        height: 770px;
    }
    .team_header {
        padding-top: 20px;
    }
    .team_header::after{
        margin-bottom: 20px;
    }
    .team .container{
        padding: 0 50px;
    }
    .team_container{
        flex-wrap: wrap;
    }
    .team_content{
        max-width: 45%;
        margin-top: 10px;
    }
    .member_of_team {
        height: 190px;
    }
    .scroll_wrapper{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .project2{
        height: 170px;
        min-width: 35%;
    }
    .project{
        height: 170px;
        min-width: 35%;
    }
    .slider_buttons {
        left: 11%;
    }
    .quotes_output{
        width: 500px;
    }
    .quote_item{
        font-size: 13px;
    }
    #container_clients {
        margin-top: 10px;
    }
    #container_clients .section_title{
        font-size: 19px;
    }
    .clients h2 {
        margin-bottom: 5px;
    }
    .sup_message {
        width: 310px;
    }
    .message {
        width: 310px;
        height: 150px;
    }
    .right_side{
        display: none;
    }
    .left_side{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
    .left_wrapper .header_logo {
        padding-top: 15px;
    }
    .left_wrapper{
        height: 200px;
    }
    .footer {
        height: 200px;
    }
    .footer_header {
        margin-top: 32px;
        font-size: 14px;
    }
    .footer_text {
        font-size: 9px;
    }
    .location{
        line-height: 0; 
        font-size: 0;
        color: transparent; 
    }
    .call{
        line-height: 0; 
        font-size: 0;
        color: transparent; 
    }
    .right_wrapper{
        margin-left: 20px;
    }
    .img_wrapper {
        display: flex;  
        flex-direction: inherit;
    }
    .img_wrapper img{
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer_text{
        display: none;
    }
    .footer_links {
        flex-direction: column;
        margin-top: 20px;
    }
}
@media(max-width:425px){
    .intro{
        height: 400px;
    }
    .intro_title{
        font-size: 24px;
    }
    .intro_title:after{
        margin: 15px auto;
    }
    .intro_text{
        font-size: 12px;
        margin-bottom: 40px;
    }
    .about_emblem img{
        margin-top: 55px;
        height: 100px;
    }
    .about_story{
        font-size: 12px;
    }
    .expertise {
        height: 555px;
    }
    .content_text{
        font-size: 10px;
    }
    .expertise_header {
        margin-top: 10px;
    }
    .slider_section {
        height: 375px;
    }
    .quotes_output {
        width: 390px;
        height: 150px;
    }
    .quote_item {
        font-size: 12px;
    }
    .quotes:before{
        font-size: 90px;
    }
    .quotes {
        height: 85px;
    }
    .name_post{
        font-size: 12px;
    }
    .wrapper{
        width: 245px;
        
    }
    .slider_track{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .clients{
        display: none;
    }
    .footer{
        height: 240px;
    }
    .footer_letter{
        width: 125px;
    }
}